SUPABASE_URL=https://bnezukbrkkrlfroxjlof.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuZXp1a2Jya2tybGZyb3hqbG9mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MTAwOTAsImV4cCI6MjA4OTE4NjA5MH0.ZZ4DgJdoYTSut3VrCeE_P5jxaslPupRAZSsV0r-6WtA


SECRET_KEY=kahit_anong_random_string_dito

GEMINI_API_KEY=AIzaSyAXvYfqRTbp1VkwyptdJ08Ur-CQ9aNQl-E


